@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap'); /* Importação da fonte */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header {
    text-align: center;
    background-color: #616255;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 2rem;
}

h1 {
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}

.p1{
    text-size-adjust: 100px;
    padding: 25px;
    
}

body {
    background-color: #2F3022;
    font-family: "Iansui", cursive;
    font-weight: 400;
}


.divs {
    display: flex;
    justify-content: center; /* Centraliza as divs (opcional) */
}

div {
    flex: 1;                /* Divide o espaço igualmente */
    max-width: 50%;         /* Garante que não ultrapasse metade da largura */
}

.div1, .div2 {
    margin: 3.5rem;
    margin-top: 1.3rem;
    padding: 3rem;
    padding-bottom: 0%;
    border-radius: 30px;
    border: 10px solid #787869;
    background-color: #8E8E7E;
    box-sizing: border-box; /* Corrige o cálculo de largura */
}
.div1 img, .div2 img {
    width: 100%;
    border: 6px solid #80845C;
    border-radius: 20px;
}


.div1 h3, .div2 h3 {
    display: flex;
    color: #2D2D24;
    text-decoration: underline;
    margin-top: 0.2rem;
    padding-right: 8rem;
}

.div1a, .div1b{
    width: 20%;
    position: relative;
    bottom: 18%;
    left: 37%;
}

.div1 p, .div2 p {
    color: #2D2D24;
    text-align: left;
}

.div1 button, .div2 button {
    width: 40%;
    margin-left: 4.2rem;
    padding-bottom: 0%;
}


/* --------------------------------------------------------- */
h2 {
    color: #7A7D66;
    text-align: center;
    margin-top: 2.5rem;
    width: 75%;
    font-size: 25px;
}

button {
    padding: 0.2rem 0.4rem;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border: 4px solid #2F3022;
    background-color: #80845C;
    margin-top: 1.5rem;
    border-radius: 55px;
}


footer section{
    display: flex;
    background-color: #616255;
    text-align: center;
    align-items: center;
    min-height: 22vh; /* Faz a section ocupar toda a altura da tela */  
    margin: 1.5rem;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}

.footer_p1 {
    margin-left: 10rem;
}
footer a {
    color:aliceblue ;
    border-radius: 20px;
}
.footer_p2 {
    margin-left: 6rem;
}

.footer_p3{
    color: black;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1140px) {
    header {
        padding: 1.2rem;
    }

    .divs {
        display: flex;
        flex-direction: column; /* Empilha as imagens verticalmente */
        margin: 0rem;
        align-items: center; /* Centraliza as imagens horizontalmente */
        padding: 0rem;
        width: 100%;
    }

    .div1, .div2 {
        width: 80%;
        max-width: 80%; /* Limita a largura das imagens em telas menores */
        padding: 2rem;

    }

    .div1a, .div1b {
        padding-top: 0.2rem;
        padding-right: 5rem;
        padding-left: 2rem;
    }

    footer section {
        flex-direction: column;
        gap: 1rem;

    }

    .footer_p1 {
        margin: 0rem;
        padding: 1rem;
    }

    .footer_p2 {
        margin: 0rem;
        padding: 0.2rem;
        margin-bottom: 0.5rem;
    }
}